@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fira+Code:wght@300..700&family=Protest+Strike&family=Satisfy&display=swap');
/*FONTS:
"Concert One", sans-serif;
"Satisfy", cursive;
"Protest Strike", sans-serif;*/

* {
    margin: 0;
    padding: 0;

}

.cabeçalho {
    display: flex;
    padding: 2rem;
    color: whitesmoke;
    justify-content: center;
    font-family: "Protest Strike", sans-serif;
}

h1{
    text-shadow: 0px 3px 05px gray;
}

body {
    background-color: aliceblue;

}

nav {
    margin-bottom: 15px;
}

.nav-list {
    display: flex;
    /*Para por o menu um de lado do outro*/
    justify-content: right;
    letter-spacing: 2px;
    /*É o espaçamento entre as letras*/
    background-color: #222f3e;
    box-shadow: 0px 3px 05px gray;
    list-style: none;
    /*Para retirar as bolinhas da lista*/
    padding: 1rem;
    font-family: "Protest Strike", sans-serif;
}

a {
    display: flex;
    margin-right: 32px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3;
}

a:houver {
    opacity: 0.7;

}
.div-container {
    background-image: url(assets/img/codificacao-de-programa-de-computador-na-tela.jpg);
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
}

.div-item {
    display: grid;
    column-gap: 10px;
    padding: 10px;
}

fieldset {
    background-color: black;
    box-shadow: 0px 3px 05px gray;
}

.sobre-mim {
    padding: 15px;
    background-color: #c8d6e5;
    margin: 20px;
}

.p-codigo {
    margin-left: 1rem; margin-right: 1rem;
    text-align: justify;
    align-content: center;
    font-family: "Fira Code", monospace;
    color: #576574;
}

.p-texto{
    margin-left: 1rem; margin-right: 1rem;
    text-align: justify;
    align-content: center;
    color: #576574;
    font-family: "concert One", sans-serif;
}

h2 {
    font-family: "Concert One", sans-serif;
    color: #fdfdfd;
    margin-left: 15px; margin-right: 15px;
    align-items: center;
}